
/*=======================================================
=            CSS EFFETTI, FILTRI E ANIMAZIONI           =
========================================================*/


/*----------  Classi utility  ----------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    text-align: center;
    padding: 30px;
}

h2 {
    font-size: 24px;
    font-weight: lighter;
    margin-bottom: 20px;
}

.container {
    width: 1000px;
   
    margin: 0 auto;
}

.ex_c {
    background-color: grey;
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
}


/*---------- End classi utility  ----------*/



/*====================================================
=            Section comment Esercizio 1            =
=====================================================*/

.red_1  {
    width: 100px;
    height: 100px;
    background-color: lightgrey; 
    border: 1px solid darkred;           
    transition: 2s;

}

.red_1:hover {
    background-color: darkred;
}


/*=====  End of Section comment Esercizio 1  ======*/


/*====================================================
=            Section comment Esercizio 2            =
=====================================================*/

.red_2  {
    width: 100px;
    height: 100px;
    background-color: darkred; 
    border: 1px solid darkred; 
    transition: 2s;        
}

.red_2:active {
    width: 100%;
}


/*=====  End of Section comment Esercizio 2  ======*/


/*====================================================
=            Section comment Esercizio 3            =
=====================================================*/

.red_3  {
    width: 100px;
    height: 100px;
    background-color: darkred; 
    border: 1px solid darkred; 
    transition: 0.5s;        
}

.red_3:hover {
    border-radius: 50%;
}


/*=====  End of Section comment Esercizio 3  ======*/


/*====================================================
=            Section comment Esercizio 4            =
=====================================================*/

.red_4  {
    width: 100px;
    height: 100px;
    background-color: darkred; 
    border: 1px solid darkred; 
    transition: 2s;        
}

.red_4:hover {
    opacity: 0%;
}


/*=====  End of Section comment Esercizio 4  ======*/





