
/*=======================================================
=            CSS EFFETTI, FILTRI E ANIMAZIONI           =
========================================================*/


/*----------  Classi utility  ----------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    text-align: center;
    padding: 30px;
}

h2 {
    font-size: 24px;
    font-weight: lighter;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.ex_c {
    background-color: grey;
    height: 150px;
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
    position: relative;
}

.red {
    height: 100px;
    width: 100px;
    background-color: darkred; 
    border: 1px solid darkred; 
    transition: 2s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


/*---------- End classi utility  ----------*/



/*====================================================
=            Section comment Esercizio 1            =
=====================================================*/

.grey  {
    background-color: lightgrey;          
    transition: 2s;
}

.grey:hover {
    background-color: darkred;
}


/*=====  End of Section comment Esercizio 1  ======*/


/*====================================================
=            Section comment Esercizio 2            =
=====================================================*/

.click  {      
    position: relative;
}

.click:active {
    width: 100%;
}


/*=====  End of Section comment Esercizio 2  ======*/


/*====================================================
=            Section comment Esercizio 3            =
=====================================================*/

.circle  { 
    transition: 0.5s;        
}

.circle:hover {
    border-radius: 50%;
}


/*=====  End of Section comment Esercizio 3  ======*/


/*====================================================
=            Section comment Esercizio 4            =
=====================================================*/
     
.faded:hover {
    opacity: 0%;
}


/*=====  End of Section comment Esercizio 4  ======*/


/*====================================================
=            Section comment Esercizio 5            =
=====================================================*/

.dimensions  {
    width: 50px;
    height: 50px;
    transform: translate(50%, -50%); 
}

.dimensions:hover {
    transform-origin: bottom left;
    transform: scale(2);
}

.dimensions:active {
    tranform-origin: center;
    transform: scale(0.5);
}

/*=====  End of Section comment Esercizio 5  ======*/


/*====================================================
=            Section comment Esercizio 6            =
=====================================================*/

.airplane > img  {
    width: 20%; 
}

.airplane:hover {
    filter: grayscale(100%);
}

:not(.airplane:hover) {
    filter: grayscale(0%);
}


/*=====  End of Section comment Esercizio 6  ======*/

