
/*=======================================================
=            CSS EFFETTI, FILTRI E ANIMAZIONI           =
========================================================*/


/*----------  Classi utility  ----------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    text-align: center;
    padding: 30px;
}

h2 {
    font-size: 24px;
    font-weight: lighter;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.ex_c {
    background-color: grey;
    height: 150px;
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
    position: relative;
}

.red {
    height: 100px;
    width: 100px;
    background-color: darkred; 
    border: 1px solid darkred; 
    transition: 2s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}



/*---------- End classi utility  ----------*/



/*====================================================
=            Section comment Esercizio 1            =
=====================================================*/

.grey  {
    background-color: lightgrey;          
    transition: 2s;
}

.grey:hover {
    background-color: darkred;
}


/*=====  End of Section comment Esercizio 1  ======*/



/*====================================================
=            Section comment Esercizio 2            =
=====================================================*/

.click  {      
    position: relative;
}

.click:active {
    width: 100%;
}


/*=====  End of Section comment Esercizio 2  ======*/



/*====================================================
=            Section comment Esercizio 3            =
=====================================================*/

.circle  { 
    transition: 0.5s;        
}

.circle:hover {
    border-radius: 50%;
}


/*=====  End of Section comment Esercizio 3  ======*/



/*====================================================
=            Section comment Esercizio 4            =
=====================================================*/
     
.faded:hover {
    opacity: 0%;
}


/*=====  End of Section comment Esercizio 4  ======*/



/*====================================================
=            Section comment Esercizio 5            =
=====================================================*/

.dimensions  {
    width: 50px;
    height: 50px;
    transform: translate(50%, -50%); 
}

.dimensions:hover {
    transform-origin: bottom left;
    transform: scale(2);
}

.dimensions:active {
    transform-origin: center;
    transform: scale(0.5);
}

/*=====  End of Section comment Esercizio 5  ======*/



/*====================================================
=            Section comment Esercizio 6            =
=====================================================*/

.airplane > img  {
    width: 20%; 
}

.airplane > img:hover {
    filter: grayscale(100%);
}

:not(.airplane>img:hover) {
    filter: grayscale(0%);
}


/*=====  End of Section comment Esercizio 6  ======*/



/*======================================================
    =            Section comment Esercizio 7           =
=======================================================*/

.airplane_2 > img  {
    width: 20%;
    transition: 3s;
} 

.airplane_2 > img:hover {
    filter: grayscale(100%);
    filter: sepia(70%);
}

:not(.airplane_2>img:hover) {
    filter: grayscale(0%);
    filter: sepia(0%);
}


/*=====  End of Section comment Esercizio 7  ======*/



/*======================================================
    =            Section comment Esercizio 8           =
=======================================================*/

/*.landscape      {
    height: 100%;
}*/

.landscape > img {
    /*height: 100%; */
    width: 20%;
    transition: 3s;        
}

.landscape >img:hover {
    filter: grayscale(100%);
    filter: sepia(70%);
    border-radius: 10%;
}

:not(.landscape>img:hover) {
    filter: grayscale(0%);
    filter: sepia(0%);

}


/*=====  End of Section comment Esercizio 8  ======*/



/*======================================================
    =            Section comment Esercizio 9          =
=======================================================*/


/*.big    {
    height: 450px;
}

.landscape_2 {
    height: 100%;
}*/

.landscape_2 > img {
    /*height: 50%; */
    width: 20%;
    transition: 2s;        
}

.landscape_2 >img:hover {
    filter: grayscale(100%);
    filter: sepia(70%);
    border-radius: 10%;
    transform: scale(2);
    transform-origin: bottom;
}

:not(.landscape_2>img:hover) {
    filter: grayscale(0%);
    filter: sepia(0%);
    transform: scale(1);

}

/*=====  End of Section comment Esercizio 9  ======*/



/*======================================================
    =            Section comment Esercizio 10          =
=======================================================*/

.notch > i {
    font-size: 4em;
    animation: 1s infinite linear;
    animation-name: rotation;
    
}

@keyframes rotation {
       from {transform: rotate(0deg);}
       to   {transform: rotate(359deg);}
}



/*=====  End of Section comment Esercizio 10  ======*/


